<a href="https://colab.research.google.com/github/eeuunnjjiii/Franchise-Guide/blob/main/2.%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC/2.%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%8C%E1%85%A5%E1%86%AB%E1%84%8E%E1%85%A5%E1%84%85%E1%85%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# 데이터 가져오기
growth = pd.read_csv('/content/drive/MyDrive/franchise_data/growth.csv', index_col=0)
stability = pd.read_csv('/content/drive/MyDrive/franchise_data/stability.csv', index_col=0)
profit = pd.read_csv('/content/drive/MyDrive/franchise_data/profit.csv', index_col=0)
overview = pd.read_csv('/content/drive/MyDrive/franchise_data/overview.csv', index_col=0)
info = pd.read_csv('/content/drive/MyDrive/franchise_data/info.csv', index_col=0)
cost = pd.read_csv('/content/drive/MyDrive/franchise_data/cost.csv', index_col=0)

# 데이터 확인
growth.shape, stability.shape, profit.shape, overview.shape, info.shape, cost.shape

((11109, 9), (11109, 9), (11109, 10), (20585, 8), (20426, 11), (20915, 12))

# 1. 가맹본부별 데이터 통합

In [4]:
head_office = growth.merge(stability, on=['상호','자산','업종','기준년도'], how='left')
head_office = head_office.merge(profit, on=['상호','자본','매출액','영업이익','업종','기준년도'], how='left')
print(head_office.shape)
head_office.head(3)

(11153, 18)

          상호             자산  ... 매출액순이익률(당기순이익/매출액) 자기자본순이익률(당기순이익/자본)
0  (주)에스피씨삼립  1,196,293,065  ...               0.81               6.27
1   (주)도시방앗간        195,755  ...              -0.11             713.89
2   본아이에프(주)    100,216,871  ...              -1.04              -3.25

[3 rows x 18 columns]

## 1) 문자로 표시된 특성 삭제

In [5]:
head_office = head_office.drop(['총자산증가율','매출액증가율','영업이익증가율'], axis=1)
head_office.head(3)

          상호             자산  ... 매출액순이익률(당기순이익/매출액) 자기자본순이익률(당기순이익/자본)
0  (주)에스피씨삼립  1,196,293,065  ...               0.81               6.27
1   (주)도시방앗간        195,755  ...              -0.11             713.89
2   본아이에프(주)    100,216,871  ...              -1.04              -3.25

[3 rows x 15 columns]

## 2) 컬럼명 변경

In [6]:
# 컬럼명 확인
head_office.columns

Index(['상호', '자산', '매출액', '영업이익', '업종', '기준년도', '자본', '부채', '부채비율(부채/자본)',
       '자기자본비율(자본/자산)', '법위반횟수(최근3년)', '당기순이익', '영업이익률(영업이익/매출액)',
       '매출액순이익률(당기순이익/매출액)', '자기자본순이익률(당기순이익/자본)'],
      dtype='object')

In [7]:
# 컬럼명 변경
head_office.columns = ['상호', '자산', '매출액', '영업이익', '업종', '기준년도', '자본', '부채', '부채비율',
                      '자기자본비율', '법위반횟수', '당기순이익', '영업이익률','매출액순이익률', '자기자본순이익률']
head_office.head(3)

          상호             자산            매출액  ...  영업이익률 매출액순이익률  자기자본순이익률
0  (주)에스피씨삼립  1,196,293,065  2,499,238,195  ...   1.88    0.81      6.27
1   (주)도시방앗간        195,755  2,456,845,734  ...  -0.00   -0.11    713.89
2   본아이에프(주)    100,216,871    212,736,622  ...   0.16   -1.04     -3.25

[3 rows x 15 columns]

## 3) 결측치 확인

In [8]:
head_office.isna().sum()

상호            0
자산           46
매출액           0
영업이익          0
업종            0
기준년도          0
자본            0
부채            0
부채비율          0
자기자본비율        0
법위반횟수         0
당기순이익         0
영업이익률       207
매출액순이익률     207
자기자본순이익률    181
dtype: int64

In [9]:
# 결측치 확인
head_office[head_office['자산'].isna()]

                 상호   자산        매출액 영업이익  ... 당기순이익  영업이익률 매출액순이익률 자기자본순이익률
3382          수가F&B  NaN    491,435    0  ...     0   0.00    0.00      NaN
3556     (주)다호푸드코리아  NaN          0    0  ...     0    NaN     NaN      NaN
3733           두레푸드  NaN          0    0  ...     0    NaN     NaN      NaN
3734         (주)육칠팔  NaN          0    0  ...     0    NaN     NaN      NaN
3735         (주)분식이  NaN          0    0  ...     0    NaN     NaN      NaN
3775          라니마라탕  NaN     68,091    0  ...     0   0.00    0.00      NaN
3944       (주)쏘렌토푸드  NaN          0    0  ...     0    NaN     NaN      NaN
4048          (주)수혁  NaN          0    0  ...     0    NaN     NaN      NaN
4176           호림푸드  NaN  1,385,705    0  ...     0   0.00    0.00      NaN
4272          ㈜더난푸드  NaN          0    0  ...     0    NaN     NaN      NaN
4339        (주)더난푸드  NaN          0    0  ...     0    NaN     NaN      NaN
4340       (주)열정과배려  NaN          0    0  ...     0    NaN     NaN      NaN
4435       (주)스토리뱅크  NaN          0    0  ...     0    NaN     NaN      NaN
4648      (주)카페에이전시  NaN          0    0  ...     0    NaN     NaN      NaN
5296   (주)에스에프이노베이션  NaN          0    0  ...     0    NaN     NaN      NaN
5297      (주)씨에이치제이  NaN          0    0  ...     0    NaN     NaN      NaN
5299     제이에이치푸드팩토리  NaN          0    0  ...     0    NaN     NaN      NaN
5835          나도갈비탕  NaN      6,400    0  ...     0   0.00    0.00      NaN
5843        (주)류가본가  NaN          0    0  ...     0    NaN     NaN      NaN
5844  (주)소싯적청춘을요리하다  NaN          0    0  ...     0    NaN     NaN      NaN
6013       (주)통에프앤씨  NaN          0    0  ...     0    NaN     NaN      NaN
6015      (주)리치브라더스  NaN          0    0  ...     0    NaN     NaN      NaN
6140        (주)왕컴퍼니  NaN          0    0  ...     0    NaN     NaN      NaN
6686     (주)퍼스트에이엔티  NaN          0    0  ...     0    NaN     NaN      NaN
6711         (주)에잇디  NaN          0    0  ...     0    NaN     NaN      NaN
7472       (주)댓짱돈까스  NaN          0    0  ...     0    NaN     NaN      NaN
7477   주식회사 오티에스코리아  NaN          0    0  ...     0    NaN     NaN      NaN
7970          박창우푸드  NaN          0    0  ...     0    NaN     NaN      NaN
7971   (주)오리엔탈푸드코리아  NaN          0    0  ...     0    NaN     NaN      NaN
7972       (주)가우정푸드  NaN          0    0  ...     0    NaN     NaN      NaN
7974      (주)이코르코리아  NaN          0    0  ...     0    NaN     NaN      NaN
7976      (주)푸드젠코리아  NaN          0    0  ...     0    NaN     NaN      NaN
7977       (주)백년에프씨  NaN          0    0  ...     0    NaN     NaN      NaN
8140   (주)한국창업경제연구소  NaN          0    0  ...     0    NaN     NaN      NaN
8176   (주)오리엔탈푸드코리아  NaN          0    0  ...     0    NaN     NaN      NaN
8178      (주)씨티에프앤비  NaN          0    0  ...     0    NaN     NaN      NaN
8244      (주)해운대엠에스  NaN          0    0  ...     0    NaN     NaN      NaN
8245      해피브릿지협동조합  NaN          0    0  ...     0    NaN     NaN      NaN
8590      (주)다울에프앤비  NaN          0    0  ...     0    NaN     NaN      NaN
8649       (주)카니발피자  NaN          0    0  ...     0    NaN     NaN      NaN
8734      (주)로띠번코리아  NaN          0    0  ...     0    NaN     NaN      NaN
8735       (주)디디컴퍼니  NaN          0    0  ...     0    NaN     NaN      NaN
9119        1987라운지  NaN          0    0  ...     0    NaN     NaN      NaN
9120   (주)오리엔탈푸드코리아  NaN          0    0  ...     0    NaN     NaN      NaN
9460      (주)푸드젠코리아  NaN          0    0  ...     0    NaN     NaN      NaN
9462        (주)뚝심푸드  NaN          0    0  ...     0    NaN     NaN      NaN

[46 rows x 15 columns]

- 자산이 0인 경우 영업이익도 0인 경우가 많으므로 삭제
- 분모에 해당하는 매출액이 0인 경우 영업이익률, 매출액순이익률, 자기자본순이익률이 NaN으로 표시됨 => NaN 값 0으로 대체

In [10]:
# 자산이 결측치인 데이터 삭제
head_office = head_office.dropna(subset=['자산'])
head_office.shape

(11107, 15)

In [11]:
# 나머지 결측치 0으로 변환
head_office = head_office.fillna(0)

In [12]:
# 값이 공백인경우 0으로 변환
def change(value):
  if value == '%':
    return 0
  else:
    return value
head_office['부채비율'] = head_office['부채비율'].apply(change)
head_office['자기자본비율'] = head_office['자기자본비율'].apply(change)
head_office.shape

(11107, 15)

## 4) 중복값 확인

In [13]:
head_office.duplicated().sum()

50

In [14]:
# 중복값 확인
head_office[head_office.duplicated()]

               상호           자산          매출액  ...  영업이익률 매출액순이익률  자기자본순이익률
7578   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7579   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7580   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7581   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7582   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7583   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
7584   (주)에이치에스푸드    3,456,551    4,113,616  ...   6.61    4.82     16.29
8739     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8740     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8741     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8742     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8743     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8744     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8745     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8770     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8771     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8772     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8773     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8774     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8775     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8776     (주)이랜드파크  877,994,991  805,448,929  ...  -1.62   -9.98    -43.95
8780   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8781   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8782   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8783   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8784   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8785   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
8786   (주)할리스에프앤비  105,165,315  128,620,870  ...   9.90    7.08     12.13
9179       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9181       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9182       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9183       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9184       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9185       (주)대호가    3,140,099    5,916,190  ...   8.64    6.80     30.56
9576   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9577   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9578   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9579   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9580   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9581   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
9582   (주)에이치에스푸드    2,886,647    4,051,439  ...   8.10    5.09     20.24
10621    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10622    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10623    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10624    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10625    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10626    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10627    (주)이랜드파크  878,627,883  725,259,064  ...  -2.56    0.45      1.24
10634  (주)할리스에프앤비   90,375,786  108,584,230  ...   6.31    4.24      6.97
10635  (주)할리스에프앤비   90,375,786  108,584,230  ...   6.31    4.24      6.97

[50 rows x 15 columns]

In [15]:
# 중복값 제거
head_office = head_office.drop_duplicates(subset=['상호','자산','업종','기준년도'], keep='last')
head_office.shape

(11055, 15)

## 5) 형변환

In [16]:
# 콤마 제거 후 실수형 변환
def drop_comma_to_float(num):
    if type(num) == int:
      return num
    else:
      num = num.replace(',','')
      return float(num)

# % 제거 후 실수형 변환
def drop_per_to_float(num):
    if type(num) == int: ## 0은 그대로 유지
      return num
    else:
      num = num.replace('%','')
      num = num.replace(',','')
      return float(num)

In [17]:
for i in ['자산','매출액','영업이익','자본','부채','당기순이익','영업이익률','매출액순이익률','자기자본순이익률']:
    head_office[i] = head_office[i].apply(drop_comma_to_float)

for i in ['부채비율','자기자본비율']:
    head_office[i] = head_office[i].apply(drop_per_to_float)

In [18]:
head_office = head_office[['상호', '업종', '기준년도', '자산', '자본', '부채', '매출액', '영업이익', '당기순이익', 
                           '부채비율', '자기자본비율','영업이익률', '매출액순이익률', '자기자본순이익률','법위반횟수']]

In [19]:
# 정수형 변경
for i in head_office.columns[3:9]:
  head_office[i] = head_office[i].apply(int)

In [20]:
# 데이터 확인
print(head_office.info())
head_office.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11055 entries, 0 to 11152
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상호        11055 non-null  object
 1   업종        11055 non-null  object
 2   기준년도      11055 non-null  int64
 3   자산        11055 non-null  int64
 4   자본        11055 non-null  int64
 5   부채        11055 non-null  int64
 6   매출액       11055 non-null  int64
 7   영업이익      11055 non-null  int64
 8   당기순이익     11055 non-null  int64
 9   부채비율      11055 non-null  float64
 10  자기자본비율    11055 non-null  float64
 11  영업이익률     11055 non-null  float64
 12  매출액순이익률   11055 non-null  float64
 13  자기자본순이익률  11055 non-null  float64
 14  법위반횟수     11055 non-null  int64
dtypes: float64(5), int64(8), object(2)
memory usage: 1.3+ MB
None

          상호  업종  기준년도          자산  ...  영업이익률  매출액순이익률  자기자본순이익률  법위반횟수
0  (주)에스피씨삼립  A1  2020  1196293065  ...   1.88     0.81      6.27      0
1   (주)도시방앗간  A1  2020      195755  ...  -0.00    -0.11    713.89      0
2   본아이에프(주)  A1  2020   100216871  ...   0.16    -1.04     -3.25      1

[3 rows x 15 columns]

# 2. 브랜드별 데이터 통합

In [21]:
brand = overview.merge(info, on=['브랜드','상호','업종','기준년도'], how='left')
brand = brand.merge(cost, on=['브랜드','상호','업종','기준년도'], how='left')
print(brand.shape)
brand.head(3)

(30863, 23)

   브랜드       상호    가맹사업 개시일  ... 인테리어비용  인테리어비용.1 인테리어비용.2
0   평균        -           -  ...  2,658       116   78,809
1  복도네  삼광수산(주)   가맹사업 개시 전  ...  2,200        50   33,000
2  국사랑   케이씨컴퍼니  2013-04-01  ...  1,760        33   17,600

[3 rows x 23 columns]

## 1) 컬럼명 변경

In [22]:
# 중복되는 가맹점수 컬럼 삭제
brand = brand.drop('가맹점수_y', axis=1)

# 브랜드명이 '평균'인 데이터 삭제
ls = brand[brand['브랜드']=='평균'].index.to_list()
brand = brand.drop(ls)

In [23]:
# 컬럼명 확인
brand.columns

Index(['브랜드', '상호', '가맹사업 개시일', '가맹사업 년수', '가맹점수_x', '가맹본부 임직원수', '업종', '기준년도',
       '신규개점', '계약종료', '계약해지', '명의변경', '가맹점평균매출액(매출액지수)',
       '가맹점면적(3.3㎡)당평균매출액(평균매출액지수)', '가입비(가맹비)', '교육비', '보증금',
       '기타비용(인테리어비용포함)', '합계(창업비용지수)', '인테리어비용', '인테리어비용.1', '인테리어비용.2'],
      dtype='object')

In [24]:
# 컬럼명 변경
brand.columns = ['브랜드', '상호', '가맹사업개시일', '가맹사업년수', '가맹점수', '가맹본부임직원수', '업종', '기준년도',
                 '신규개점', '계약종료', '계약해지', '명의변경', '가맹점평균매출액','면적당평균매출액', '가맹비', '교육비', '보증금',
                 '기타비용', '합계', '면적당인테리어비용', '기준면적당인테리어비용', '총인테리어비용']
brand.head(3)

    브랜드        상호     가맹사업개시일  ... 면적당인테리어비용  기준면적당인테리어비용 총인테리어비용
1   복도네   삼광수산(주)   가맹사업 개시 전  ...     2,200           50  33,000
2   국사랑    케이씨컴퍼니  2013-04-01  ...     1,760           33  17,600
3  낙지애가  (주)엠케이우성  2014-01-10  ...     1,650           99  49,500

[3 rows x 22 columns]

## 2) 결측치 확인

In [25]:
brand.isna().sum()

브랜드              0
상호               0
가맹사업개시일          0
가맹사업년수           0
가맹점수             0
가맹본부임직원수         0
업종               0
기준년도             0
신규개점           308
계약종료           308
계약해지           308
명의변경           308
가맹점평균매출액       308
면적당평균매출액       312
가맹비             48
교육비             48
보증금             48
기타비용            48
합계              48
면적당인테리어비용       48
기준면적당인테리어비용     48
총인테리어비용         48
dtype: int64

In [26]:
# 결측치 확인
brand[brand['가맹비'].isna()]

                                 브랜드             상호  ... 기준면적당인테리어비용 총인테리어비용
28901                              청       비컨홀딩스(주)  ...         NaN     NaN
28902                       도쿄짬뽕0820          더제이푸드  ...         NaN     NaN
28903                           청춘반점           청춘반점  ...         NaN     NaN
28904                            웰차이      삼주외식산업(주)  ...         NaN     NaN
28905                          찰스탕수육            신푸드  ...         NaN     NaN
28906                            당가원      당가원푸드네트워크  ...         NaN     NaN
28907                          이비가짬뽕       (주)이비가푸드  ...         NaN     NaN
28908                        용오름짬뽕전문     (주)케이에프씨앤씨  ...         NaN     NaN
28909                          전설의짬뽕             양파  ...         NaN     NaN
28910                           짬뽕9단             양파  ...         NaN     NaN
28911                           고수탕수           고수푸드  ...         NaN     NaN
28912                        숲속의짬뽕나라        숲속의짬뽕나라  ...         NaN     NaN
28913              미스터비(Mr.B) 나가사키짬뽕        미스터비 짬뽕  ...         NaN     NaN
28914                            하오커      (주)씨티에프앤비  ...         NaN     NaN
28915                           귀신반점             상지  ...         NaN     NaN
28916                             홍탕          (주)홍탕  ...         NaN     NaN
28917                            홍짜장      (주)한밭에프앤지  ...         NaN     NaN
28918                             황산    (주)에이치엠에프앤디  ...         NaN     NaN
28919                           차룽반점          (주)놀부  ...         NaN     NaN
28920                         황궁쟁반짜장           미래외식  ...         NaN     NaN
28921                         메이드인짬뽕  (주)제이앤에스푸드시스템  ...         NaN     NaN
28922                          촌칭구짬뽕      (주)야베스에프씨  ...         NaN     NaN
28923                           짬뽕상회        (주)짬뽕상회  ...         NaN     NaN
28924                            진시앙         (주)이밥스  ...         NaN     NaN
28925                      마카오반점0410       (주)더본코리아  ...         NaN     NaN
28926                       홍마반점0410       (주)더본코리아  ...         NaN     NaN
28927                       홍콩반점0410       (주)더본코리아  ...         NaN     NaN
28928                           짬뽕타임  (주)제이에이치푸드시스템  ...         NaN     NaN
28929                        이만구교동짬뽕         (주)이만구  ...         NaN     NaN
28930                        깐풍기브라더스     (주)브라더스컴퍼니  ...         NaN     NaN
28931                          사천신짬뽕   (주)오리엔탈푸드코리아  ...         NaN     NaN
28932                           짬뽕지존       투맨홀딩스(주)  ...         NaN     NaN
28933                           짬뽕타운          푸얼담식품  ...         NaN     NaN
28934                         차이나스토리   (주)제이에스푸드시스템  ...         NaN     NaN
28935                            금미덕         (주)금미덕  ...         NaN     NaN
28936                           교동짬뽕     (주)명가푸드시스템  ...         NaN     NaN
28937                            챠이난         (주)챠이난  ...         NaN     NaN
28938                           니뽕내뽕       (주)제이테이블  ...         NaN     NaN
28939                          들르미짬뽕       (주)들르미푸드  ...         NaN     NaN
28940                             뽕신       (주)마린블루스  ...         NaN     NaN
28941                           짜장클럽     (주) 한국에프에스  ...         NaN     NaN
28942                         마시내탕수육         (주)마시내  ...         NaN     NaN
28943                             깐담             깐담  ...         NaN     NaN
28944                            궁짜이             탕코  ...         NaN     NaN
28945                     이종구 항아리 짬뽕       이종구푸드(주)  ...         NaN     NaN
28946  더시카고짬뽕(THE CHICAGO JJAMPPONG)    (주)인엔아웃에프엔씨  ...         NaN     NaN
28947                        숑마오짬뽕명가        씨엠푸드(주)  ...         NaN     NaN
28948                           신청해루        씨엠푸드(주)  ...         NaN     NaN

[48 rows x 22 columns]

- 결측치는 전부 0으로 대체

In [27]:
# 결측치 0으로 변환
brand = brand.fillna(0)

## 3) 중복값 확인

In [28]:
brand.duplicated(subset=['브랜드','상호','합계','업종','기준년도']).sum()

10460

In [29]:
# 중복값 확인
brand[brand.duplicated(subset=['브랜드','상호','합계','업종','기준년도'])]

         브랜드         상호     가맹사업개시일  ... 면적당인테리어비용  기준면적당인테리어비용 총인테리어비용
6      #브라더스  (주)저스트컴퍼니  2020-10-17  ...       330           33   3,300
7      #브라더스  (주)저스트컴퍼니  2020-10-17  ...       330           33   3,300
8      #브라더스  (주)저스트컴퍼니  2020-10-17  ...       330           33   3,300
9      #브라더스  (주)저스트컴퍼니  2020-10-17  ...       330           33   3,300
10     #브라더스  (주)저스트컴퍼니  2020-10-17  ...       330           33   3,300
...      ...        ...         ...  ...       ...          ...     ...
28618     아딸      (주)아딸  2015-10-20  ...     2,800           33  28,000
28663     아딸      (주)아딸  2001-11-01  ...     1,760           33  17,600
28664     아딸      (주)아딸  2001-11-01  ...     2,800           33  28,000
28665     아딸      (주)아딸  2001-11-01  ...     1,760           33  17,600
28666     아딸      (주)아딸  2001-11-01  ...     2,800           33  28,000

[10460 rows x 22 columns]

In [30]:
# 중복값 제거
brand = brand.drop_duplicates(subset=['브랜드','상호','합계','업종','기준년도'], keep='last')
brand.shape

(20328, 22)

## 4) 형변환

In [31]:
# 콤마 제거 후 실수형 변환
def drop_comma_to_float(num):
    if type(num) == int:
      return num
    else:
      num = num.replace(',','')
      return float(num)

# '명' 제거 후 실수형 변환
def drop_str_to_float(num):
    if type(num) == int: ## 0은 그대로 유지
      return num
    else:
      num = num.replace('명','')
      num = num.replace(',','')
      return float(num)

# '\n' 제거 후 실수형 변환
def drop_enter_to_float(num):
    if type(num) == int: ## 0은 그대로 유지
      return num
    else:
      num = num.split('\n')[0]
      num = num.replace(',','')
      return float(num)

# 날짜를 datetime으로 변경하는 함수
def to_datetime(date):
    try:
        new_time = pd.to_datetime(date).date()
        return new_time
    except: ## '가맹사업 개시전'은 21년 1월 1일로 지정
        return pd.to_datetime('2021-1-1').date()

In [32]:
for i in ['가맹점평균매출액','면적당평균매출액','합계']:
    brand[i] = brand[i].apply(drop_enter_to_float)

for i in ['가맹비','교육비','보증금','기타비용','면적당인테리어비용','기준면적당인테리어비용','총인테리어비용']:
    brand[i] = brand[i].apply(drop_comma_to_float)

brand['가맹사업개시일'] = brand['가맹사업개시일'].apply(to_datetime)
brand['가맹본부임직원수'] = brand['가맹본부임직원수'].apply(drop_str_to_float)

In [33]:
# 가맹사업년수를 days로 변경하는 함수
def to_days(date):
    days = (pd.to_datetime('2021-1-1').date()-date).days
    return days

brand['가맹사업일수'] = brand['가맹사업개시일'].apply(to_days)

# 가맹사업년수 컬럼 삭제
brand = brand.drop('가맹사업년수', axis=1)

In [34]:
brand = brand[['브랜드', '상호', '업종', '기준년도', '가맹사업개시일', '가맹사업일수', '가맹점수', '가맹본부임직원수',
               '신규개점','계약종료', '계약해지', '명의변경', '가맹점평균매출액', '면적당평균매출액', '가맹비', '교육비', '보증금',
               '기타비용', '합계', '면적당인테리어비용', '기준면적당인테리어비용', '총인테리어비용']]

In [36]:
# 정수형 변경
for i in brand.columns[5:]:
  brand[i] = brand[i].apply(int)

In [37]:
# 데이터 확인
print(brand.info())
brand.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20328 entries, 1 to 30862
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   브랜드          20328 non-null  object
 1   상호           20328 non-null  object
 2   업종           20328 non-null  object
 3   기준년도         20328 non-null  int64
 4   가맹사업개시일      20328 non-null  object
 5   가맹사업일수       20328 non-null  int64
 6   가맹점수         20328 non-null  int64
 7   가맹본부임직원수     20328 non-null  int64
 8   신규개점         20328 non-null  int64
 9   계약종료         20328 non-null  int64
 10  계약해지         20328 non-null  int64
 11  명의변경         20328 non-null  int64
 12  가맹점평균매출액     20328 non-null  int64
 13  면적당평균매출액     20328 non-null  int64
 14  가맹비          20328 non-null  int64
 15  교육비          20328 non-null  int64
 16  보증금          20328 non-null  int64
 17  기타비용         20328 non-null  int64
 18  합계           20328 non-null  int64
 19  면적당인테리어비용    20328 non-null  int64
 20  기준면적당인테리어비용  20328 non-null  int64
 21  총인테리어비용      20328 non-null  int64
dtypes: int64(18), object(4)
memory usage: 3.6+ MB
None

    브랜드        상호  업종  기준년도  ...      합계  면적당인테리어비용  기준면적당인테리어비용  총인테리어비용
1   복도네   삼광수산(주)  A1  2020  ...   70450       2200           50    33000
2   국사랑    케이씨컴퍼니  A1  2020  ...   52600       1760           33    17600
3  낙지애가  (주)엠케이우성  A1  2020  ...  106950       1650           99    49500

[3 rows x 22 columns]

# 3. 전처리 완료 파일 저장

In [38]:
head_office.to_csv('head_office.csv')
brand.to_csv('brand.csv')